<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thread>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thread>
                <tbody>
                    {% for lists in lists %}
                    <tr>
                        <td>
                            <a href={% url "todo_list_detail" lists.id %}>{{ lists.name }}</a>
                        </td>
                        <td>
                            {{ lists.items.count }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
